<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success" >
                Department List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr no</th>
                                    <th>Department Name</th>
                                    <th>created date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of getAllDept.data; track $index) {
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>{{item.deptName}}</td>
                                        <td>{{item.createdDate|date:'dd-MMM-yyyy'}}</td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success" >
                New Department
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Department Name</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="col-12">
                        <label for="">Date of Creation</label>
                        <input type="date" class="form-control"/>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary text-center">Reset</button>

                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-success text-center">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
