
    
     <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      


 
  
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Department List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>Sr no</th>
                                    <th>Department Name</th>
                                    <th>created date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of getAllDept.data; track $index) {
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.deptName}}</td>
                                    <td>{{item.createdDate|date:'dd-MMM-yyyy'}}</td>
                                    <td class="text-center">
                                        
                                        <button type="button" class="btn btn-primary"
                                            (click)="OnUpdate(item)">Update</button>
                                        <button type="button" class="btn btn-danger mx-2"
                                            (click)="onDeleteDepartment(item.deptId)">Delete</button>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Department
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Department Name</label>
                        <input type="text" name="deptName" [(ngModel)]="createDepartment.deptName"
                            class="form-control" />
                    </div>
                    @if(createDepartment.deptId==0){
                    <div class="col-12">
                        <label for="">Date of Creation</label>
                        <input type="date" name="date" [(ngModel)]="createDepartment.createdDate"
                            class="form-control" />
                    </div>
                    }

                </div>
                <div class="row pt-3">
                    
                   
                    <div class="col-6">
                        @if (createDepartment.deptId==0) {
                            <button type="button" class="btn btn-success text-center"
                            (click)="onCreateDepartment()">Save</button>
                        }@else {
                            <button type="button" class="btn btn-success text-center"
                            (click)="UpdateDepartment()">Update Department</button> 
                        }
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>